.title1, .title2, .title3, .respFromXml, table, .dataContainerTitle {
    font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;
}

#mainTitle {
    letter-spacing: 3px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;
}

#presentationMainTitle {
    text-align: center;
    font-size: 23px;
    color: white;
    border: 2px solid rgb(170, 170, 170);
    width: 62%;
    display: block;
    position: relative;
    top: 7px;
    left: 19%;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;
    background-color: rgb(215, 215, 215);
}

#presentationPart2 {
    color: rgb(120, 120, 120);
    display: block;
    font-size: 16px;
    left: 25%;
    position: relative;
    text-align: left;
    top: 7px;
    width: 61%;
    margin-left: -5%;
    margin-top: 10px;
    margin-bottom: 21px;
    font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;
}

.containerInfoClass {
    margin-left: 20%;
    margin-top: 7px;
    border: solid 1px rgb(150, 150, 150);
    padding-left: 1%;
    padding-top: 4px;
    display: block;
    width: 60%;
    background-image: url("../img/fondXSL.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title1 {
    color: rgb(250, 80, 0);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.title2 {
    color: rgb(20, 20, 130);
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}

.title3 {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
}

.respFromXml {
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
    font-style: normal !important;
}

.cursorPointer {
    cursor: pointer;
}

.inlineDisplay {
    display: inline;
}

.retourChariot {
    margin-bottom: 4px !important;
}

.retourChariotIn {
    margin-bottom: 2px;
}

table {
    margin-bottom: 17px;
    border-collapse: collapse;
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    background: white;
}

th {
    border: 1px solid rgb(150, 150, 150);
    font-weight: normal !important;
    color: rgb(30, 30, 30) !important;
}

td {
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    font-style: normal;
}

.dataContainerTitle {
    font-size: 15px;
}

.containerButton {
    position: relative;
    display: block;
    left: 96%;
    top: 0;
    border: 1px solid rgb(175, 175, 175);
    width: 22px;
    height: 15px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.hideButtonSVG {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 4%;
    cursor: pointer;
}

.showButtonSVG {
    height: 107%;
    width: 100%;
    cursor: pointer;
}

#map_element {
    height: 256px;
    width: 512px;
    border: 1px solid rgb(20, 20, 130);
    display: block;
    position: relative;
    background-color: rgb(180, 220, 255);
}

.pointerClass {
    cursor: pointer;
}

#lineageInfoTitle {
    margin-bottom: 5px;
}

#mapPanel .olControlZoomToMaxExtentItemInactive {
    width: 18px;
    height: 18px;
    background: #333399 url("http://dev.openlayers.org/releases/OpenLayers-2.9.1/img/zoom-world-mini.png");
    position: absolute;
    left: 3%;
    top: 25%;
    opacity: 0.69;
    z-index: 1004;
}
