.title1, .title2, .title3, .respFromXml, table, .dataContainerTitle {
font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;
}
#mainTitle {
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
	font-weight: bold;
}
#presentationMainTitle {
    text-align: center;
    font-size: 26px;
    color: rgb(140,110,110);
    border: 2px solid rgb(100,100,100);
	border-radius: 11px;
    width: 54%;
    display: block;
    position: relative;
    top: 7px;
    left: 24%;
	background-color: rgba(150,150,150,0.15);
	padding-left: 4px;
    padding-right: 4px;
}
#presentationPart2 {
	border: 0px solid #646464;
    border-radius: 11px;
    color: rgb(120,120,120);
    display: block;
    font-size: 19px;
    left: 25%;
    position: relative;
    text-align: left;
    top: 7px;
    width: 61%;
    margin-left: -5%;
    margin-top: 10px;
    margin-bottom: 21px;
}
.containerInfoClass {
	margin-left: 20%;
	margin-top: 7px;
    border: solid 2px rgb(100, 100, 100);
    padding-left: 1%;
	padding-top: 4px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 4px;
	display: block;
	width: 60%;
}
.title1 {
	 color: rgb(250, 80, 0);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}
.title2 {
	 color: rgb(20, 20, 130);
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
	 text-decoration: underline;
}
.title3 {
	 color: rgb(0,0,0);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
	 font-style: italic;
}
.respFromXml {
	 color: rgb(70,70,70);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
	 text-decoration:  none !important;
	 font-style: normal !important;
	 /*font-family: "Trebuchet MS", Georgia !important;*/
}
.cursorPointer {
	cursor: pointer;
}
.inlineDisplay {
	display: inline;
}
.retourChariot {
	margin-bottom: 4px !important;
}
.retourChariotIn {
	margin-bottom: 2px;
}

table {
	 /*margin-top:  -10px;*/
	 margin-bottom:  17px;
	 border-collapse: collapse;
	 color: rgb(70,70,70);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}
th {
	border: 2px solid rgb(150,150,150);
	font-weight: normal !important;
	color: rgb(30,30,30) !important;
}
td {
	border: 1px solid rgb(150,150,150);
	text-align: center;
	padding-left: 3px;
    padding-right: 3px;
}
.dataContainerTitle {
	font-size: 15px;
}
.containerButton {
	position: relative;
	display: block;
    left: 96%;
    top: -10%;
	border: 1px outset rgb(100,100,100);
	border-radius: 3px;
    width: 25px;
    height: 19px;
	margin-top: -30px;
	margin-bottom: 10px;
	/*background-color: rgba(0,230,0,0.40);*/
	background-color: rgba(240, 150, 50, 0.6);
}
.hideButton {
	background-color: #FF0000;
    display: block;
    left: 7%;
    position: relative;
    top: 35%;
}
.showButtonSVG {
	height: 47px;
	 width: 29px;
	 display: block;
     position: absolute;
     left: 10%;
     top: 5%;
}
.hideButtonSVG {
	 height: 47px;
	 width: 29px;
	 display: block;
     position: absolute;
     left: 10%;
     top: 5%;
}
